.layoutBody {
	height: calc(100% - 48px);
	background-color: var(--mantine-color-primary-6);
	overflow: hidden;
}

.layoutBodyContainer {
	background-color: light-dark(var(--mantine-color-primary-0), var(--mantine-color-gray-9));
	overflow: hidden;
	border-radius: 16px 0 0 0;
}

.aboutHeader {
	padding: 8px;
	color: var(--mantine-color-white);
	background-color: var(--mantine-color-gray-6);
	border-radius: 8px 8px 0 0;
}
