.layoutBody {
	height: calc(100% - 48px);
	background-color: var(--mantine-color-main-6);
}

.layoutBodyContainer {
	background-color: var(--mantine-color-white);
	overflow: auto;
	border-radius: 16px 0;
}

.aboutHeader {
	padding: 8px;
	color: var(--mantine-color-white);
	background-color: var(--mantine-color-gray-6);
	border-radius: 8px 8px 0 0;
}
