.tab {
	padding: 0.563rem 1rem;
	font-weight: 400;
	color: var(--mantine-color-gray-5);
	font-size: 1.125rem;
	line-height: 1.625rem;

	&[data-active] p {
		font-weight: 700;
		color: var(--mantine-color-gray-9);
	}
}

[data-mantine-color-scheme="dark"] .tab {
	color: var(--mantine-color-gray-4);
	&[data-active] p {
		color: var(--mantine-color-gray-0);
	}
}
