.segmentRoot {
    height: 2.25rem;
    padding: 0;
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid #E1E2F0;
}
.segmentLabel[data-active]{
    background-color: var(--mantine-color-primary-7);
    color: white;
    border-radius: 0;
}

.segmentLabel {
    height: 2.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #41454D;
    display: flex;
    align-items: center;
}

.segmentIndicator{
    background-color: var(--mantine-color-primary-7);
}