.bg {
	background-color: var(--mantine-color-gray-2);
}

[data-mantine-color-scheme="dark"] .bg {
	background-color: var(--mantine-color-gray-7);
}

.title {
	font-size: 34px;
}

.description {
	text-align: center;
}

.pluginBtn {
	border-radius: 4px;
	border: 1px solid var(--mantine-color-primary);
}
