.card {
  background-color: var(--mantine-color-body);
}

.label {
  font-weight: 700;
  line-height: 1;
}

.lead {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
}

.inner {
  display: flex;
}

.ring {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
