.header {
	background-color: var(--mantine-color-red-7) !important;
	color: var(--mantine-color-white);
	font-weight: 700;
	font-size: 16px;
}

.close {
	color: var(--mantine-color-white) !important;
	font-size: 16px;
}
