/* react-flow styles */

html,
body {
	height: 100%;
}

.cursor-pointer {
	cursor: pointer;
}
.cursor-alias {
	cursor: alias;
}

.h-full {
	height: 100%;
}

.w-full {
	width: 100%;
}

.p-0 {
	padding: 0;
}

.p-1 {
	padding: 10px;
}

.pl-1 {
	padding-left: 2px;
}

.pl-0-5 {
	padding-left: 1px;
}

.pl-2 {
	padding-left: 4px;
}

.pl-1-5 {
	padding-left: 3px;
}

.justify-start {
	justify-content: flex-start !important;
}

.align-start {
	align-items: flex-start !important;
}

.bg-white {
	background-color: white !important;
}
