.root {
	border-radius: 16px;
}

.body {
	padding: 0 !important;
	position: relative;
	height: calc(100% - 60px);
	overflow: auto;
}

.title {
	font-size: 16px;
	font-weight: 500;
}

.footer {
	height: 60px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}
