.root {
    border-radius: 16px;
}

.header {
    border-bottom: 1px solid var(--mantine-color-gray-3);
}

[data-mantine-color-scheme='dark'] .header {
	border-bottom: 1px solid var(--mantine-color-gray-6);
}

.title {
    font-weight: 700;
    font-size: 16px;
}

.body {
    background-color: var(--mantine-color-gray-1);
    padding: 0;
    position: relative;
}

[data-mantine-color-scheme='dark'] .body {
    background-color: var(--mantine-color-gray-8);
}

.footer {
    justify-content: flex-end;
    gap: 8px;
    padding: 16px;
    background-color: var(--mantine-color-white);
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-top: 1px solid var(--mantine-color-gray-3);
}

[data-mantine-color-scheme='dark'] .footer {
	background-color: var(--mantine-color-black);
    border-top: 1px solid var(--mantine-color-gray-6);
}

.bg {
    background-color: var(--mantine-color-gray-2);
}

[data-mantine-color-scheme='dark'] .bg {
	background-color: var(--mantine-color-gray-7);
}