
.input::placeholder {
	color: var(--mantine-color-gray-2);
}

[data-mantine-color-scheme='dark'] .input::placeholder{
	color: var(--mantine-color-gray-7);
}

.newBtn {
	border-radius: 4px;
}

.newText {
    font-size: 10px;
}
