.modalHeader {
	height: 3rem;
	padding: 0.75rem 1rem;
	background-color: #e02d3c;
	font-size: 1.125rem;
	font-weight: 700;
	color: #fafafa;
}

.modalHeader svg {
	color: #fafafa;
}

.modalHeader button:hover {
	background-color: transparent;
}

.modalContent {
	border-radius: 0.5rem;
}

.modalBody {
	height: 17.313rem;
	padding: 2rem 1.5rem;
}

.modalButton {
	border: 1px solid #41454d;
	background-color: white;
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: 600;
}

.modalButton:hover {
	background-color: transparent;
}
